@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3 class="header smaller lighter blue">功能模块&菜单设置</h3>
<p>
    <a class="btn" href="/Admin"><i class="icon-undo align-top bigger-125"></i> 返回 </a>
    <a class="btn btn-info" href="/Admin/Module">刷新 </a>
</p>
<div id="filegrid"></div>
<script>
    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Admin/Module/Get",
                    type: "POST",
                    dataType: "json"
                },
                update: {
                    url: "/Admin/Module/Update",
                    dataType: "json",
                    type: "POST"
                },
                destroy: {
                    url: "/Admin/Module/Delete",
                    dataType: "json",
                    type: "POST"
                },
                create: {
                    url: "/Admin/Module/Add",
                    type: "POST",
                    dataType: "json",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,//设置此 只有当点击save的时候才触发后台数据保存
            cache: false,
            pageSize:50,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, type: "number", validation: { required: true, min: 1 } },
                        name: { editable: true },
                        parentid: { editable: true, type: "number", validation: { required: false, min: 0 }, nullable: true },
                        orderno: { editable: true, type: "number", validation: { required: false, min: 0 }, nullable: true },
                        url: { editable: true },
                        adminurl: { editable: true },
                        summary: { editable: true },
                        icon: { editable: true },
                        addtime: { editable: false, type: "date" },
                        updatetime: { editable: false, type: "date" }
                    }
                }
            }
        });

        $("#filegrid").kendoGrid({
            dataSource: dataSource,
            navigatable: true,
            pageable: true,
            sortable: {
                mode: "multiple",
                allowUnsort: true
            },
            pageable: {
                buttonCount: 5
            },
            filterable: {
                mode: "row"
            },
            height: 720,
            toolbar: ["create", "save", "cancel"],
            columns: [
               { field: "id", title: "编号", width: "100px" },
                { field: "name", title: "类别", width: "160px" },
                { field: "parentid", title: "父级编号", width: "100px" },
                { field: "orderno", title: "排序", width: "100px" },
                { field: "url", title: "前台访问地址", width: "160px" },
                { field: "adminurl", title: "后台访问地址", width: "160px" },
                { field: "icon", title: "图标", width: "90px" },
                { field: "summary", title: "描述", width: "60px" },
                { command: ["destroy"], title: "&nbsp;", width: "90px" }
            ],
            editable: true,
            saveChanges: function (e) {
                var t = $.Zebra_Dialog("Success！数据已成功保存。", {
                    'type': 'information ',
                    'title': '提示',
                    'buttons': [
                    {
                        caption: 'Ok', callback: function () {
                            e.preventDefault();
                            location.href = "/Admin/Module";
                        }
                    },
                    ]
                });
            }
        });
    });
</script>