@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-title ui-widget-content ui-corner-all">
    <h3 class="header smaller lighter blue">更改密码</h3>
    <div class="other" id="changepwd">
        <table class="table table-hover">
            <thead></thead>
            <tbody>
                <tr>
                    <td><label for="title">用户名：</label></td>
                    <td>
                        <label id="username">@Request.Cookies["jlgl_user"].Value</label>
                    </td>
                </tr>
                <tr>
                    <td><label for="oldpwd" class="required">原始密码：</label></td>
                    <td>
                        <input type="password" id="oldpwd" name="原始密码" style="width:200px" class="k-textbox" placeholder="原始密码" required validationmessage="请输入 {0}" />
                    </td>
                </tr>
                <tr>
                    <td><label for="newpwd" class="required">新密码</label></td>
                    <td><input type="password" id="newpwd" style="width: 200px" name="新密码" class="k-textbox" placeholder="请输入新密码" required validationmessage="请输入 {0}" /></td>
                </tr>
                <tr>
                    <td><label for="cnfnewpwd" class="required">确认密码：</label>
                    <td><input type="password" id="cnfnewpwd" style="width: 200px" name="确认密码" class="k-textbox" placeholder="请再次输入新密码" required validationmessage="请输入 {0}" /></td>
                </tr>
                <tr>
            </tbody>
        </table>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="button" id="save">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset" id="cancel">
                    <i class="icon-undo bigger-110"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var validator = $("#changepwd").kendoValidator().data("kendoValidator"), status = $(".status");
    $("#save").click(function () {
        if (validator.validate()) {
            var username = $("#username").text();
            ;
            var oldpwd = $("#oldpwd").val();
            var newpwd = $("#newpwd").val();
            var cnfnewpwd = $("#cnfnewpwd").val();

            if (oldpwd == newpwd) {
                alert("新密码和原始密码不能相同");
            }
            else if (cnfnewpwd != newpwd) {
                alert("您两次输入的密码不一致");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Account/ChangePwd",
                    datatype: "json",
                    data: { "username": username, "oldpwd": oldpwd, "newpwd": cnfnewpwd },
                    success: function (data) {
                        if (data == true) {
                            alert('密码修改成功');
                            location.href = "/Admin/Account/Login";
                        } else {
                            alert('修改失败！');
                        }
                    },
                    error: function (mesg) {
                        alert(mesg);
                    }
                });
            }
        }
    });
</script>