@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>重庆小租乐</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link href="~/Content/chuzu/assets/css/main.css" rel="stylesheet" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/chuzu/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/chuzu/assets/css/ie9.css" /><![endif]-->
</head>
<body id="top">

    <!-- Header -->
    <header id="header">
        <div class="content">
            <h1><a href="#">成为小租乐房东</a></h1>
            <p>
                安全，省心，极速，稳定收益<br />
                不要再做忙碌的房东，经常找租客，找维修，找增值途径...
            </p>
            <ul class="actions">
                <li><a href="#" class="button special fa-1x">登录</a></li>
                <li><a href="#one" class="button icon">注册</a></li>
            </ul>
        </div>
        <div class="image phone"><div class="inner"><img src="~/Content/chuzu/images/screen.jpg" alt="" /></div></div>
    </header>

    <!-- One -->
    <section id="one" class="wrapper style2 special">
        <header class="major">
            <h2>
                Sed ipsum magna lorem tempus amet<br />
                vehicula et gravida elementum
            </h2>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-camera-retro"><span class="label">Shoot</span></span></li>
            <li><span class="icon fa-refresh"><span class="label">Process</span></span></li>
            <li><span class="icon fa-cloud"><span class="label">Upload</span></span></li>
        </ul>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper">
        <div class="inner alt">
            <section class="spotlight">
                <div class="image"><img src="images/pic01.jpg" alt="" /></div>
                <div class="content">
                    <h3>Magna sed ultrices</h3>
                    <p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="images/pic02.jpg" alt="" /></div>
                <div class="content">
                    <h3>Ultrices nullam aliquam</h3>
                    <p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="images/pic03.jpg" alt="" /></div>
                <div class="content">
                    <h3>Aliquam sed magna</h3>
                    <p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
                </div>
            </section>
            <section class="special">
                <ul class="icons labeled">
                    <li><span class="icon fa-camera-retro"><span class="label">Ipsum lorem accumsan</span></span></li>
                    <li><span class="icon fa-refresh"><span class="label">Sed vehicula elementum</span></span></li>
                    <li><span class="icon fa-cloud"><span class="label">Elit fusce consequat</span></span></li>
                    <li><span class="icon fa-code"><span class="label">Lorem nullam tempus</span></span></li>
                    <li><span class="icon fa-desktop"><span class="label">Adipiscing amet sapien</span></span></li>
                </ul>
            </section>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2 special">
        <header class="major">
            <h2>Magna leo sapien gravida</h2>
            <p>
                Gravida at leo elementum elit fusce accumsan dui libero, quis vehicula<br />
                lectus ultricies eu. In convallis amet leo sapien iaculis efficitur.
            </p>
        </header>
        <ul class="actions">
            <li><a href="#" class="button special icon fa-download">Download</a></li>
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Credits:HTML5 UP</a></p>
    </footer>

    <!-- Scripts -->
    <script src="~/Content/chuzu/assets/js/jquery.min.js"></script>
    <script src="~/Content/chuzu/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/chuzu/assets/js/skel.min.js"></script>
    <script src="~/Content/chuzu/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/Content/chuzu/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/chuzu/assets/js/main.js"></script>

</body>
</html>

@*<div class="container">
    <div class="floor1">
        <h2>
            现在有房出租找优客逸家，给包租还管服务
            <small>不要再做忙碌的房东，经常找租客，找维修，找增值途径...</small>
        </h2>
        <img src="/static/images/page/index/phoneIcon_b83f960.png" /><label>400-000-4170</label>
        <input type="button" id="joinUoko1" class="js-joinIn joinInBtn" value="加入优客" />
    </div>
    <div class="floor2 clearfix">
        <div class="pull-left">
            <img src="/static/images/page/index/circle1_3c055c2.png" />

            <p>
                房屋长期无维护<br />
                灯泡坏了上门修<br />
                房屋损毁无维修<br />
                拖欠水电物业费
            </p>
            <img src="/static/images/page/index/arrow1_69e31ec.png" />

            <p>
                安全巡房服务<br />
                定期靓居保洁<br />
                专业维修团队<br />
                水电气物业费代缴
            </p>
        </div>
        <div class="pull-right">
            <img src="/static/images/page/index/circle2_2749408.png" />

            <p>
                无法估计市场合理房租<br />
                房子空太久<br />
                反复带看<br />
                遇到无良租客
            </p>
            <img src="/static/images/page/index/arrow2_a09f73c.png" />

            <p>
                多出租渠道<br />
                保底出租<br />
                管家带看<br />
                租客筛选
            </p>
        </div>
        <div class="tag">
            <ul>
                <li>租前租后</li>
                <li>稳定收益</li>
                <li>赠送财险</li>
                <li>维修保洁</li>
                <li>租客认证</li>
                <li>合同到期</li>
                <li>全程无忧</li>
                <li class="last">极速到账</li>
            </ul>
            <ul>
                <li>代租代管</li>
                <li>管家服务</li>
                <li>安全放心</li>
                <li class="last">房屋如新</li>
            </ul>
        </div>
    </div>
    <div class="floor3">
        <h3></h3>
        <ul>
            <li>
                <img src="/static/images/page/index/reason1_87f4437.png">

                <h2>安全放心</h2>

                <p>30万房屋财险+租客筛选</p>
            </li>
            <li>
                <img src="/static/images/page/index/reason2_ec551f7.png">

                <h2>稳定收益</h2>

                <p>租金保底（包租）</p>
            </li>
            <li>
                <img src="/static/images/page/index/reason3_905131d.png">

                <h2>省时省心</h2>

                <p>专业而完备的租后服务（包管）</p>
            </li>
        </ul>
    </div>
</div>
<div class="floor4">
    <div class="container">
        <div class="joinIn pull-left">
            <h3>简单四步，极速签约 </h3>

            <p>意向沟通 > 上门实勘 > 签约合作 > 坐收租金</p>

            <p>加盟热线：400-000-4170</p>
            <input type="button" id="joinUoko2" class="js-joinIn joinInBtn" value="加入优客&nbsp;&gt;" />
        </div>
        <div class="tips pull-right">
            <img src="/static/images/page/index/tips_2ca4037.png" />

            <p>现已有3482个房东加入优客，成为我们的优质伙伴！</p>
        </div>
    </div>
</div>

<div class="alertBox js-alertForm">
    <div class="alertContent  js-alertContent">
        <b class="js-close"></b>

        <form>
            <div class="form-group">
                <label for="userName">
                    <span>姓名</span>
                    <mark>（必填）</mark>
                </label>
                <input type="text" class="form-control" id="userName" />
                <i>*请填写姓名</i>
            </div>
            <div class="form-group">
                <label for="userPhone">
                    <span>联系电话</span>
                    <mark>（必填）</mark>
                </label>
                <input type="text" class="form-control" id="userPhone" />
                <i>*请填写姓名</i>
            </div>
            <div class="form-group">
                <label for="userCity"><span>所属城市</span></label>
                <select class="form-control" id="userCity">
                    <option>成都</option>
                    <option>北京</option>
                    <option>武汉</option>
                    <option>杭州</option>
                </select>
            </div>
            <div class="form-group">
                <label for="community">
                    <span>小区</span>
                    <mark>（必填）</mark>
                </label>
                <input type="text" class="form-control" id="community" />
                <i>*请填写姓名</i>
            </div>
            <div class="form-group">
                <label for="userName">房屋概况</label>
                <textarea class="form-control js-wordLimit" id="summary" placeholder="您只能输入100个字哦~！"></textarea>
            </div>
            <div class="form-group">
                <input type="button" id="submitJoin" class="form-control js-submit" value="提交" disabled="disabled" />
            </div>
        </form>
    </div>
    <div class="alertShadow"></div>
</div>*@

