@{
    ViewBag.Title = "Index";
}
<div class="search-box">
    <div class="container-min">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">我要出租</li>
        </ol>
        <div class="container">
            <div class="tab-content tab-seach">
                <div class="tab-pane fade in active">
                    <div class="selection">
                        <div class="s-box">
                            <h3>我们的优势</h3><hr />
                        </div>
                        <div class="i-record">
                            <img src="~/Images/i-show-cd.png" width="1070" alt="">
                        </div>
                    </div>
                    <br />
                    
                    <div class="selection">
                        <div class="s-box">
                            <h3>加入小租乐</h3><hr />
                        </div>
                        <div class="s-box" style="display: block;">
                            <div class="alertContent  js-alertContent">
                                <b class="js-close"></b>
                                <form style="width:600px">
                                    <div class="form-group">
                                        <label for="userName">
                                            <span>姓名</span>
                                            <mark>（必填）</mark>
                                        </label>
                                        <input type="text" class="form-control" id="userName">
                                        <i>*请填写姓名</i>
                                    </div>
                                    <div class="form-group">
                                        <label for="userPhone">
                                            <span>联系电话</span>
                                            <mark>（必填）</mark>
                                        </label>
                                        <input type="text" class="form-control" id="userPhone">
                                        <i>*请填写姓名</i>
                                    </div>
                                    <div class="form-group">
                                        <label for="userCity"><span>所属城市</span></label>
                                        <select class="form-control" id="userCity">
                                            <option>重庆</option>
                                            <option>成都</option>
                                            <option>武汉</option>
                                            <option>上海</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="community">
                                            <span>小区</span>
                                            <mark>（必填）</mark>
                                        </label>
                                        <input type="text" class="form-control" id="community">
                                        <i>*请填写姓名</i>
                                    </div>
                                    <div class="form-group">
                                        <label for="userName">房屋概况</label>
                                        <textarea class="form-control js-wordLimit" id="summary" placeholder="您只能输入500个字！"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" id="submitJoin" class="form-control js-submit" value="提交" disabled="disabled">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
