<link href="~/Content/uoko_pr.css" rel="stylesheet" />
<div class="container-min">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">新闻动态</li>
    </ol>
</div>
<div class="newBox clearfix">
    <div class="headerNews">
        <h3>新闻动态 </h3>
    </div>
    <div class="news pull-left">
        <div class="newsList">
            <!-- 新闻列表 -->
            <ul>
                <li>
                    <a href="http://about.uoko.com/news/97.html" title="优客逸家再获殊荣，连夺三项大奖">
                        <img src="http://about.uoko.com/uploadfile/2016/0422/thumb_140_70_20160422024400936.jpg" />

                        <div class="newContent js-newContent">
                            <h4>优客逸家再获殊荣，连夺三项大奖</h4>
                            <time>2016-04-22</time>
                            <p>
                                2016年4月19日至20日，首届中国长短租公寓企业家高峰论坛暨中国饭店协会公寓委员会成立大会在京举行，优客逸家作为国内长租公寓领军企业
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://about.uoko.com/news/96.html" title="优客逸家荣获“2015年度责任品牌奖”">
                        <img src="http://about.uoko.com/uploadfile/2016/0125/thumb_140_70_20160125095910963.png" />

                        <div class="newContent js-newContent">
                            <h4>优客逸家荣获“2015年度责任品牌奖”</h4>
                            <time>2016-01-25</time>
                            <p>
                                第五届中国公益节暨因为爱五周年致敬盛典现场2016年1月22日，第五届中国公益节暨因为爱五周年致敬盛典在京圆满落幕，来自社会各行各业的公
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://about.uoko.com/news/95.html" title="优客逸家与成都市电子商务公共服务平台搭建战略合作关系">
                        <img src="http://about.uoko.com/uploadfile/2016/0119/thumb_140_70_20160119115347532.png" />

                        <div class="newContent js-newContent">
                            <h4>优客逸家与成都市电子商务公共服务平台搭建战略合作关系</h4>
                            <time>2016-01-19</time>
                            <p>
                                近日，由成都市经信委、成都市商务委、成都市工商局共同指导，成都市电子商务协会运营的四川省首个助力传统企业转型升级的电子商务公共服务
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://about.uoko.com/news/93.html" title="2016伊始，业界共话长租公寓新风口">
                        <img src="http://about.uoko.com/uploadfile/2016/0114/thumb_140_70_20160114024927468.png" />

                        <div class="newContent js-newContent">
                            <h4>2016伊始，业界共话长租公寓新风口</h4>
                            <time>2016-01-14</time>
                            <p>
                                优客逸家创始人兼CEO刘翔现场发言刘翔获邀参加第二届房地产经纪行业峰会2016年1月8日，由中房经联主办的第二届房地产经纪发展峰会暨中房经
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://about.uoko.com/news/91.html" title="绿城优客深度合作 跨界联姻玩转“互联网+”">
                        <img src="http://about.uoko.com/uploadfile/2015/1224/thumb_140_70_20151224093911203.jpg" />

                        <div class="newContent js-newContent">
                            <h4>绿城优客深度合作 跨界联姻玩转“互联网+”</h4>
                            <time>2015-12-24</time>
                            <p>
                                租房时代的美好回忆合作签约仪式2015年12月22日，本年度最具范本意义的跨界联姻在杭州压轴上场&mdash;&mdash;绿城服务与优客逸家宣布共同注资成立浙江
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://about.uoko.com/news/87.html" title="优客逸家牵手孵化器 助力青年创业梦">
                        <img src="http://about.uoko.com/uploadfile/2015/1204/thumb_140_70_20151204043241273.jpg" />

                        <div class="newContent js-newContent">
                            <h4>优客逸家牵手孵化器 助力青年创业梦</h4>
                            <time>2015-12-04</time>
                            <p>
                                创业是这个时代的主旋律，在“大众创业，万众创新”的潮流下，各种联合办公空间、创业孵化器、加速器、创意园孕育而生。年轻人的创业空间有了，但生活空间又该如何完善？
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://about.uoko.com/news/85.html" title="优客逸家旗下武汉光谷创客空间入选国家首批众创空间名单">
                        <img src="http://about.uoko.com/uploadfile/2015/1123/thumb_140_70_20151123032727625.jpg" />

                        <div class="newContent js-newContent">
                            <h4>优客逸家旗下武汉光谷创客空间入选国家首批众创空间名单</h4>
                            <time>2015-11-23</time>
                            <p>
                                2015年11月19日，国家科技部火炬中心公布首批国家认证的创客空间名单，其中136家众创空间上榜，优客逸家旗下的武汉光谷创客空间成功入选，成为中国首批被认证的众创空间之一。
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://about.uoko.com/news/80.html" title="“优客四年，感恩有你”,优客老员工纪念活动">
                        <img src="http://about.uoko.com/uploadfile/2015/1026/thumb_140_70_20151026022620556.jpg" />

                        <div class="newContent js-newContent">
                            <h4>“优客四年，感恩有你”,优客老员工纪念活动</h4>
                            <time>2015-10-26</time>
                            <p>
                                优客四周年啦！9月25日, 在成都云朵咖啡， 我们举行了一场温馨的老员工中秋团圆PARTY~
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>