<!DOCTYPE html>
<html>
<head>
    <title>争光教育集团|争光企业管理|刘争光|上海争光教育集团|新生代创业培训</title>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="xOum3xTcd0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="baidu-site-verification" content="xOum3xTcd0" />
    <meta name="robots" content="noodp,noydir">
    <meta name="description" content="争光教育集团立志于打造全球最具影响力的新生代平台；立志扶持当代新生代在时代的浪潮中突破自我，为家族、为民族争光！争光国际咨询-中国企业培训咨询领导品牌！" />
    <meta name="keywords" content="争光，争光教育集团，争光企业管理，争光培训, 内训，公开课，提升销售，机制设计，公众演说，招商系统设计" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link href="assets/css/kefu.css" rel="stylesheet" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
