<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <meta name="author" content="wenshu">
    <title>重庆小租乐，重庆房屋出租信息</title>
    <meta name="keywords" content="小租乐，重庆合租房,重庆租房网,单身公寓,重庆小租乐，重庆租房信息">
    <meta name="description" content="提供重庆合租房,小租乐！">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <link href="~/Content/common.min.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/main.css" rel="stylesheet" />*@

    <script src="~/Scripts/common.js"></script>
    <!--[if lt IE 8]>
        <script type="text/javascript">
            document.write('<script type="text/javascript">window.top.location = "/noie/";<\/script>');
        </script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script type="text/javascript"src='/statics/js/html5shiv.js'>
        <script src='/statics/js/respond.min.js'></script>

        </script>
    <![endif]-->
    <link href="~/Content/datouwang.min.css" rel="stylesheet" />
    <script src="~/Scripts/datouwang.js"></script>
</head>
<body data-spy="scroll">
    <div class="header navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <div class="slogan">
                    <a class="logo" style="width:218px" href="/Home" title="小租乐，给您带来不一样的生活体验！" width="218" height="36">
                        <h4> 重庆小租乐</h4>
                    </a>
                </div>
                <div id="uoko-nav">
                    <ul class="navbar navbar-left">
                        <li data-menu-active="controller_Home&amp;&amp;action_Index" class="active">
                            <a href="/Home">首页</a>
                        </li>
                        <li data-menu-active="controller_Rent&amp;&amp;action_Index">
                            <a href="/ZuFang">我要租房</a>
                        </li>
                        <li>
                            <a href="/ChuZu" target="_blank">我要出租</a>
                        </li>
                        @*<li data-menu-active="controller_AboutUs&amp;&amp;action_Questions">
                                <a href="/Quest">租前须知</a>
                            </li>*@
                        <li data-menu-active="controller_AboutUs&&action_Contact">
                            <a href="/News">新闻动态</a>
                        </li>
                        <li data-menu-active="controller_AboutUs&&action_Contact">
                            <a href="/Jobs">招贤纳士</a>
                        </li>
                        <li data-menu-active="controller_AboutUs&amp;&amp;action_Index">
                            <a href="/About">关于我们</a>
                        </li>
                        <li data-menu-active="controller_AboutUs&&action_Contact">
                            <a href="/Contact">联系我们</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar navbar-right">
                    <li class="loginbar">
                        <a href="/Account/Login" rel="nofollow">登录</a>
                        <span class="">|</span>
                        <a href="/Account/Register" rel="nofollow">注册</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>

    @RenderBody()

    <div class="clearfix"></div>

    <footer id="footer">
        
        <div class="footer-bg">
            <div class="container">
               
                <div class="pull-left f-setup">
                    <section class="3u 6u(narrower) 12u$(mobilep)">
                        <h3>Links to Stuff</h3>
                        <ul class="links">
                            <li><a href="#">Mattis et quis rutrum</a></li>
                            <li><a href="#">Suspendisse amet varius</a></li>
                            <li><a href="#">Sed et dapibus quis</a></li>
                            <li><a href="#">Rutrum accumsan dolor</a></li>
                            <li><a href="#">Mattis rutrum accumsan</a></li>
                            <li><a href="#">Suspendisse varius nibh</a></li>
                            <li><a href="#">Sed et dapibus mattis</a></li>
                        </ul>
                    </section>
                      @*<img src="./成都合租房,成都租房网,成都房屋出租信息-优客逸家 轻时尚单身公寓_files/footer-setup2.png">*@
                </div>
                <div class="pull-left f-follow">
                    <a href="#" target="_blank" rel="nofollow"><span class="sprite-f-weibo"></span>关注新浪微博</a>
                    <a href="#" target="_blank" rel="nofollow"><span class="sprite-f-email"></span>有新房源通知我</a>
                    <a data-toggle="modal" href="#" data-target="#" rel="nofollow"><span class="#"></span>订阅微信公众平台</a>
                    <a><span class="sprite-f-tel"></span>400-000-4170</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p class="copyright-info">Copyright © 2016-2016 重庆小租乐. All Rights Reserved</p>
                <ul class="nav nav-pills">
                    <li><a href="/Home">首 页</a></li>
                    <li><a href="/About">关于我们</a></li>
                    <li><a href="/News">新闻动态</a></li>
                    <li><a href="/Job">招贤纳士</a></li>
                    <li><a href="/Contact">联系我们</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/Content/assets/js/main.js"></script>
</body>
</html>
