<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <meta name="author" content="wenshu">
    <title>重庆小租乐，重庆房屋出租信息</title>
    <meta name="keywords" content="小租乐，重庆合租房,重庆租房网,单身公寓,重庆小租乐，重庆租房信息">
    <meta name="description" content="提供重庆合租房,小租乐！">
    <!--[if lte IE 8]><script src="~/Content/themes/arcana/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link href="~/Content/themes/arcana/assets/css/main.css" rel="stylesheet" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/themes/arcana/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/themes/arcana/assets/css/ie9.css" /><![endif]-->

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <link href="~/Content/common.min.css" rel="stylesheet" />
    <link href="~/Content/datouwang.min.css" rel="stylesheet" />
    <script src="~/Scripts/datouwang.js"></script>
</head>
<body data-spy="scroll">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Logo -->
            <!--	<h1><a href="index.html" id="logo">Arcana <em>by HTML5 UP</em></a></h1>-->
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="/Home">首页</a></li>
                    <li>
                        <a href="#">我要租房</a>
                        <ul>
                            <li><a href="#">Lorem dolor</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam sed tempus</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Lorem dolor</a></li>
                                    <li><a href="#">Phasellus magna</a></li>
                                    <li><a href="#">Magna phasellus</a></li>
                                    <li><a href="#">Etiam nisl</a></li>
                                    <li><a href="#">Veroeros feugiat</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                    </li>
                    <li><a href="left-sidebar.html">我要出租</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="two-sidebar.html">Two Sidebar</a></li>
                    <li><a href="no-sidebar.html">No Sidebar</a></li>
                </ul>
            </nav>

        </div>
        @RenderBody()
    </div>


    <!-- Scripts -->
    <script src="~/Content/themes/arcana/assets/js/jquery.min.js"></script>
    <script src="~/Content/themes/arcana/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/Content/themes/arcana/assets/js/skel.min.js"></script>
    <script src="~/Content/themes/arcana/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/Content/themes/arcana/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/themes/arcana/assets/js/main.js"></script>
    <script src="~/Scripts/datouwang.js"></script>

</body>
</html>
