<div class="jum-banner">
    <div class="shuff">
        <ul class="rslides f426x240 rslides1">
            <li style="background-color:#fbf9e2;" id="rslides1_s0" class="rslides1_on">
                <a href="#" target="_blank">
                    <img src="~/Images/1.jpg" />
                </a>
            </li>
            <li style="background-color:#58d1c8;" id="rslides1_s1" class="">
                <a href="#" target="_blank">
                    <img src="~/Images/2.jpg" />
                </a>
            </li>
            <li id="rslides1_s2" class="">
                <a href="#" target="_blank">
                    <img src="~/Images/3.jpg" />
                </a>
            </li>
        </ul>
        <a href="javascript:" class="rslides_nav rslides1_nav prev" style="display: none;">Previous</a>
        <a href="javascript:" class="rslides_nav rslides1_nav next" style="display: none;">Next</a>
    </div>
</div>
<div class="i-search">
    <div class="search-main">
        <div class="i-search-box">
            <input type="text" class="form-control" placeholder="请输入关键字查找" id="KKW2">
            <i class="i-spring-ice"></i>
        </div>
        <div class="btn-jixue"></div>
        <button class="search-btn" id="btnSearch" type="submit">搜索</button>
        @*<a class="home-map-serach" href="#/search_map/" title="地图找房" target="_blank"></a>*@
        <div class="clearfix"></div>
        <div class="search-keywords">
            <!--全局变量-->
            <span><strong>热门区域：</strong></span>
            <a href="#">江北区</a>&nbsp;<a href="#">沙坪坝区</a>&nbsp;<a href="#">南岸区</a>&nbsp;<a href="#">九龙坡区</a>&nbsp;<a href="#">大渡口区</a>
        </div>
    </div>
</div>
<div class="i-list container-min">
    <div class="list-name">最新精选房源</div>
    <div class="thumb-box">
        <a href="/ZuFang/Detail" target="_blank">
            <img src="~/Images/fw/f1.jpg" data-original="/Image?imgid=130466&amp;width=318&amp;height=212" width=" 318" height="212" alt="高新区 中和镇 中和镇 地铁1号线沿线  非中介精装套四合租" style="display: inline;">
        </a>
        <img src="" />
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #ffffff; background-color: #3c763d;  border-radius: 3px;">自营</span>
            <a href="#/product/20405897" target="_blank">
                <strong>高新区 中和镇 黄金时代 地铁1号线沿线  非中介精装套四合租</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            750<span>~</span>900
            <span class="price-months">元/月</span>
        </div>
        <p class="des">世纪城 地铁1号线 领馆国际城 软件园</p>
        <div class="clearfix"></div>
    </div>
    <div class="thumb-box">
        <a href="/ZuFang/Detail" target="_blank">
            <img src="~/Images/fw/f1.jpg" data-original="/Image?imgid=231517&amp;width=318&amp;height=212" width=" 318" height="212" alt="锦江区 三圣乡 三圣乡 航天立交 芙蓉西路旁 精装套三合租" style="display: inline;">
        </a>
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #fff; background-color: #3c763d;  border-radius: 3px;">自营</span>
            <a href="#/product/162002180" target="_blank">
                <strong>锦江区 三圣乡 绿地中心·468公馆1期 航天立交 芙蓉西路旁 精装套三合租</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            800
            <span class="price-months">元/月</span>
        </div>
        <p class="des">三圣乡 航天立交</p>
        <div class="clearfix"></div>
    </div>
    <div class="thumb-box">
        <a href="#" target="_blank">
            <img src="~/Images/fw/f1.jpg" data-original="/Image?imgid=131969&amp;width=318&amp;height=212" width=" 318" height="212" alt="高新区 中和镇 中和镇 天府软件园 三利宅院 红星路南延线旁 精装四室合租" style="display: inline;">
        </a>
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #fff; background-color: #3c763d;  border-radius: 3px;">自营</span>
            <a href="/ZuFang/Detail" target="_blank">
                <strong>高新区 中和镇 领馆国际城 天府软件园 三利宅院 红星路南延线旁 精装四室合租</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            640<span>~</span>1000
            <span class="price-months">元/月</span>
        </div>
        <p class="des">软件园 高新 中和 大源 世纪城</p>
        <div class="clearfix"></div>
    </div>
    <div class="thumb-box">
        <a href="#" target="_blank">
            <img src="~/Images/fw/f2.jpg" data-original="/Image?imgid=95820&amp;width=318&amp;height=212" width=" 318" height="212" alt="高新区 中和镇 中和镇 红星路南延线旁 精装五室合租非中介" style="display: inline;">
        </a>
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #fff; background-color: #3c763d;  border-radius: 3px;">自营</span>
            <a href="#" target="_blank">
                <strong>高新区 中和镇 领馆国际城 红星路南延线旁 精装五室合租非中介</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            410<span>~</span>820
            <span class="price-months">元/月</span>
        </div>
        <p class="des">软件园 高新 中和 大源 世纪城</p>
        <div class="clearfix"></div>
    </div>
    <div class="thumb-box">
        <a href="#" target="_blank">
            <img src="~/Images/fw/f2.jpg" data-original="/Image?imgid=188123&amp;width=318&amp;height=212" width=" 318" height="212" alt="高新区 华府 华府 地铁1号线世纪城站 软件园C区附近 非中介精装套四" style="display: inline;">
        </a>
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #fff; background-color: #3c763d;  border-radius: 3px;">自营</span>
            <a href="/ZuFang/Detail" target="_blank">
                <strong>高新区 华府 美城云庭 地铁1号线世纪城站 软件园C区附近 非中介精装套四</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            750<span>~</span>950
            <span class="price-months">元/月</span>
        </div>
        <p class="des">剑南大道 华阳 双流 美年广场  蜀郡 欧尚超市旁  孵化园</p>
        <div class="clearfix"></div>
    </div>
    <div class="thumb-box">
        <a href="/ZuFang/Detail" target="_blank">
            <img src="~/Images/fw/f2.jpg" data-original="/Image?imgid=283170&amp;width=318&amp;height=212" width=" 318" height="212" alt="锦江区 三圣乡 三圣乡 地铁2号线洪河站  精装单间出租 无中介费" style="display: inline;">
        </a>
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #fff; background-color: #3c763d;  border-radius: 3px;">自营</span>
            <a href="#/product/114502528" target="_blank">
                <strong>锦江区 三圣乡 人居锦尚春天A区 地铁2号线洪河站  精装单间出租 无中介费</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            720
            <span class="price-months">元/月</span>
        </div>
        <p class="des">航天立交 三圣乡 地铁洪河站</p>
        <div class="clearfix"></div>
    </div>
    <div class="thumb-box">
        <a href="/ZuFang/Detail" target="_blank">
            <img src="~/Images/fw/f1.jpg" data-original="/Image?imgid=409686&amp;width=318&amp;height=212" width=" 318" height="212" alt="锦江区 三圣乡 三圣乡 航天立交外侧 地铁洪河站附近  精装套三" style="display: inline;">
        </a>
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #fff; background-color: #3c763d;  border-radius: 3px;">自营</span>
            <a href="/ZuFang/Detail" target="_blank">
                <strong>锦江区 三圣乡 绿地中心·468公馆3期 航天立交外侧 地铁洪河站附近  精装套三</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            700<span>~</span>800
            <span class="price-months">元/月</span>
        </div>
        <p class="des">航天立交</p>
        <div class="clearfix"></div>
    </div>
    <div class="thumb-box">
        <a href="/ZuFang/Detail" target="_blank">
            <img src="~/Images/fw/f2.jpg" data-original="/Image?imgid=105220&amp;width=318&amp;height=212" width=" 318" height="212" alt="锦江区 三圣乡 三圣乡 航天立交 精装合租 环境舒适 给自己一个温馨的家" style="display: inline;">
        </a>
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #fff; background-color: #3c763d;  border-radius: 3px;">自营</span>
            <a href="/ZuFang/Detail" target="_blank">
                <strong>锦江区 三圣乡 绿地中心·468公馆1期 航天立交 精装合租 环境舒适 给自己一个温馨的家</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            700<span>~</span>800
            <span class="price-months">元/月</span>
        </div>
        <p class="des">三圣乡 航天立交</p>
        <div class="clearfix"></div>
    </div>
    <div class="thumb-box">
        <a href="/ZuFang/Detail" target="_blank">
            <img src="~/Images/fw/f2.jpg" data-original="/Image?imgid=67694&amp;width=318&amp;height=212" width=" 318" height="212" alt="高新区 火车南站 火车南站 科华南路附近  非中介精装套四" style="display: inline;">
        </a>
        <h4 class="title">
            <span style="padding: 0 2px; font-size: 12px; color: #fff; background-color: #3c763d; border-radius: 3px;">自营</span>
            <a href="#/product/140311066" target="_blank">
                <strong>高新区 火车南站 东苑F区 科华南路附近  非中介精装套四</strong>
            </a>
        </h4>
        <div class="price">
            <span>¥</span>
            820<span>~</span>950
            <span class="price-months">元/月</span>
        </div>
        <p class="des">火车南站  桂溪路 高攀路 人民南路 科华路</p>
        <div class="clearfix"></div>
    </div>
</div>
<div class="jum-choose">
    <!--全局变量-->
    @*<img class="center-block" src="./成都合租房,成都租房网,成都房屋出租信息-优客逸家 轻时尚单身公寓_files/i-choose_title.png" alt="选择优客的5项理由">*@
    <div class="i-choose-list">
        <div class="box">
            <img class="center-block" width="90" height="90" src="~/Images/i-choose_01.png" data-original="/statics/images/index/i-choose_01.png" alt="无中介费 网上看房 拎包入住" style="display: block;">
            <h4 class="title">无中介费</h4>
            <p>网上看房 拎包入住</p>
        </div>
        <div class="box">
            <img class="center-block" width="90" height="90" src="~/Images/i-choose_01.png" data-original="/statics/images/index/i-choose_02.png" alt="年轻人 生活品质" style="display: block;">
            <h4 class="title">年轻人</h4>
            <p>我们追求 生活品质</p>
        </div>
        <div class="box">
            <img class="center-block" width="90" height="90" src="~/Images/i-choose_01.png" data-original="/statics/images/index/i-choose_03.png" alt="真实房源 凭证齐全 一房一价" style="display: block;">
            <h4 class="title">真实房源</h4>
            <p>凭证齐全 一房一价</p>
        </div>
        <div class="box">
            <img class="center-block" width="90" height="90" src="~/Images/i-choose_01.png" data-original="/statics/images/index/i-choose_05.png" alt="光纤网络 免费wifi" style="display: block;">
            <h4 class="title">免费wifi</h4>
            <p>光纤网络 基情LOL</p>
        </div>
        <div class="box">
            <img class="center-block" width="90" height="90" src="~/Images/i-choose_01.png" data-original="/statics/images/index/i-choose_04.png" alt="提供维修保洁等各类管理服务" style="display: block;">
            <h4 class="title">维修保洁</h4>
            <p>提供各类管理服务</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="i-record">
    <div class="container">
        <img src="~/Images/i-show-cd.png" width="1070" alt="优客逸家品质服务">
    </div>
</div>