<div class='container_wrap footer_color' id='footer'>
    <div class='container'>
        <div class='flex_column av_one_fourth first el_before_av_one_fourth'>
            <section class="avia_widget_section">
                <div id="text-3" class="widget clearfix widget_text">
                    <h3 class="widgettitle">咨询&来访</h3><div>
                        <p>
                            地址：上海树道国际咨询<br />
                            上海总部: 浦东新区张衡路198号10号楼201室<br />
                        </p>
                    </div>
                    <span class="seperator extralight-border"></span>
                </div>
            </section>
        </div><div class='flex_column av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth '>
            <section class="avia_widget_section">
                <div id="text-2" class="widget clearfix widget_text">
                    <h3 class="widgettitle">和我们互动</h3><div class="textwidget">
                        <p>QQ交流群：正在建设</p>
                        <p>微信：正在建设</p>
                    </div><span class="seperator extralight-border"></span>
                </div>
            </section>
        </div><div class='flex_column av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth el_after_av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth  el_before_av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth el_after_av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth el_after_av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth  el_before_av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth  el_before_av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth el_after_av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth  el_before_av_one_fourth el_after_av_one_fourth  el_before_av_one_fourth '>
            <section class="avia_widget_section">
                <div id="text-4" class="widget clearfix widget_text">
                    <h3 class="widgettitle">合作伙伴</h3><div class="textwidget"><p><a href="http://www.zg008.com" target="_blank">上海杰络企业管理咨询</a><br /><a href="http://www.zg008.com" target="_blank">上海争光国际教育集团</a><br /></p></div><span class="seperator extralight-border"></span>
                </div>
            </section>
        </div>
    </div>
    <!-- ####### END FOOTER CONTAINER ####### -->
</div>
<footer class='container_wrap socket_color' id='socket' role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class='container'>
        <span class='copyright'>&copy; 2014 - 2015 www.shudao168.com 上海市浦东新区张衡路198号10号楼201室 树道国际咨询-中国咨询领导品牌！ 请使用IE9及以上浏览器浏览  </span>
        <nav class='sub_menu_socket' role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement"></nav>
    </div>
</footer>