<!--header AD-->
<header id="header" class="header_color light_bg_color mobile_slide_out av_header_top av_logo_left av_main_nav_header av_menu_right av_large av_header_sticky av_header_shrinking av_header_stretch_disabled av_mobile_menu_tablet" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
<!--top-->
<div id="header_meta" class="container_wrap container_wrap_meta  av_secondary_right av_extra_header_active av_phone_active_left av_entry_id_1040">
<div class="container">
<nav class="sub_menu" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<ul id="avia2-menu" class="menu">
<li id="menu-item-7344" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7344"><a href="/Home">首页</a></li>
<li id="menu-item-7344" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7344"><a href="/News">新闻动态</a></li>
<li id="menu-item-2974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2974"><a href="/ContactUs">联系我们</a></li>
@*<li id="menu-item-2508" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2508"><a href="#" data-toggle="modal" data-target="#myModal">登录/注册</a></li>*@
</ul>
</nav><div class="phone-info with_nav"><span>课程咨询：021-61343912 </span></div>
</div>
</div>
<!--top end-->
<div id="header_main" class="container_wrap container_wrap_logo">
<div class="container" style="height: 116px; line-height: 116px;">
<strong class="logo">
<a href="/Home" style="max-height: 180px;"><img height="180" width="300" src="~/Icon.png" alt="树道国际咨询" style="max-height: 180px;"></a>
</strong><a id="advanced_menu_toggle" href="/Home" aria-hidden="true" data-av_icon="≡" data-av_iconfont="entypo-fontello"></a>
<nav class="main_menu" data-selectname="Select a page" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<div class="avia-menu">
<ul id="avia-menu" class="menu">
<li id="menu-item-5874" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent  dropdown_ul_available" style="overflow: hidden;">
<a href="/Home" class="" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>树道社区<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span><span class="dropdown_available"></span></a>
<div class="avia_mega_div avia_mega2 six units" style="opacity: 0; display: none; right: -412px;">
<ul class="sub-menu">
<li id="menu-item-5391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children avia_mega_menu_columns_2 three units  avia_mega_menu_columns_first">
<span class="mega_menu_title heading-color av-special-font"><a href="#">知识库</a></span>
<ul class="sub-menu">
<li id="menu-item-3796" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/News/Vedio"><span class="avia-bullet"></span>分享视频</a></li>
@*<li id="menu-item-7351" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#"><span class="avia-bullet"></span>实践集</a></li>*@
<li id="menu-item-7545" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/Download"><span class="avia-bullet"></span>资料下载</a></li>
</ul></li>
<li id="menu-item-8100" class="menu-item menu-item-type-custom menu-item-object-custom avia_mega_menu_columns_2 three units avia_mega_menu_columns_last"><span class="mega_menu_title heading-color av-special-font"><a href="/Curriculum">近期课程</a></span></li>
</ul></div></li>
<li id="menu-item-5451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-mega-parent  dropdown_ul_available" style="overflow: hidden;"><a href="/Product" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>培训课程<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span><span class="dropdown_available"></span></a>
@*<div class="avia_mega_div avia_mega3 nine units" style="opacity: 0; display: none; right: -520px;">
<ul class="sub-menu">
<li id="menu-item-5342" class="menu-item menu-item-type-post_type menu-item-object-page avia_mega_menu_columns_3 three units  avia_mega_menu_columns_first"><span class="mega_menu_title heading-color av-special-font"><a href="/Train/OpenClass">公开班</a></span></li>
<li id="menu-item-7332" class="menu-item menu-item-type-post_type menu-item-object-page avia_mega_menu_columns_3 three units ">
<span class="mega_menu_title heading-color av-special-font"><a href="/Train">企业内训</a></span>
</li>
</ul>
</div>*@
</li><li id="menu-item-5443" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/Appointment" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>预约&amp;咨询<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
<li id="menu-item-8716" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown_ul_available">
<a href="/Case" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>客户案例<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span><span class="dropdown_available"></span></a>
@*<ul class="sub-menu" style="display: block; opacity: 0; visibility: hidden;">
<li id="menu-item-8717" class="menu-item menu-item-type-custom menu-item-object-custom"><a target="_blank" href="http://www.leangoo.com/"><span class="avia-bullet"></span>Leangoo</a></li>
</ul>*@
</li><li id="menu-item-5331" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/AdvisoryTeam" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>核心讲师<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
<li id="menu-item-5330" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>招商加盟<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
@*<li id="menu-item-5754" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>学员<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>*@
<li id="menu-item-2986" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/Home/About" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>关于我们<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
<li id="menu-item-6589" class="menu-item menu-item-type-post_type menu-item-object-forum menu-item-has-children menu-item-mega-parent  dropdown_ul_available" style="overflow: hidden;"><a href="/Recruitment" style="height: 116px; line-height: 116px;"><span class="avia-bullet"></span>招聘信息<span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span><span class="dropdown_available"></span></a>
</li><li id="menu-item-search" class="noMobile menu-item menu-item-search-dropdown">
<a href="#" rel="nofollow" data-avia-search-tooltip="ss" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" style="height: 116px; line-height: 116px;"></a></li></ul></div></nav></div></div><div class="header_bg"></div></header>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>
