@{
    ViewBag.Title = "资料管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script>
    function toolbar_click() {
        window.open("/Admin/FileUpload/Add");
    }
</script>
<h3 class="header smaller lighter blue">资料中心</h3>
<p>
    <a class="btn" href="/Admin"><i class="icon-undo align-top bigger-125"></i> 返回 </a>
    <a class="btn btn-info" href="/Admin/FileUpload"><i class="icon-refresh align-top bigger-125"></i> 刷新 </a>
    <a class="btn btn-success" href="/Admin/FileUpload/Add"><i class="icon-edit align-top bigger-125"></i>添加</a>
</p>
<div id="filegrid"></div>
<script>
    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    type: "post",
                    url: "/Admin/FileUpload/GetFileList",
                    dataType: "json",
                    contentType: "application/json"
                },
                update: {
                    url: "/Admin/FileUpload/UpdateFile",
                    dataType: "json",
                    //type: "POST"
                },
                destroy: {
                    url: "/Admin/FileUpload/DeleteFile",
                    dataType: "json",
                    type: "POST"
                },
                create: {
                    url: "/Admin/FileUpload/AddFile",
                    //type: "POST",
                    dataType: "json",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                    else if (operation == "read") {
                        var parameter = {
                            page: options.page,
                            pageSize: options.pageSize
                        };
                        return kendo.stringify(parameter);
                    }
                }
            },
            batch: true,//设置此 只有当点击save的时候才触发后台数据保存
            cache: false,
            pageSize: 20,
            schema: {
                data: function (d) {
                    return d.Data;
                },
                total: function (d) {
                    return d.TotalCount;
                },
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, type: "number", validation: { required: true, min: 1 } },
                        title: { editable: true },
                        keywords: { editable: true },
                        description: { editable: true },
                        content: { editable: true },
                        no_order: { editable: true, type: "number", validation: { required: true, min: 1 } },
                        downloadurl: { editable: true, nullable: true },
                        filesize: { editable: false, type: "number", validation: { required: true, min: 1 } },
                        com_ok: { editable: true, type: "number", validation: { required: true, min: 1 } },
                        hits: { editable: false, nullable: true },
                        updatetime: { editable: false, type: "date" },
                        addtime: { editable: false, type: "date" },
                        issue: { editable: false, nullable: true },
                        top_ok: { editable: true, type: "number", validation: { required: true, min: 1 } },
                        downloadaccess: { editable: true, nullable: true },
                        filename: { editable: true, nullable: true },
                        filetype: { editable: true, nullable: true }
                    }
                }
            },
            serverPaging: true
        });

        $("#filegrid").kendoGrid({
            dataSource: dataSource,
            navigatable: true,
            pageable: true,
            height: 520,
            toolbar: [{
                template: '<a class="k-button" href="\\#" onclick="return toolbar_click()">添加</a>'
            }, "save", "cancel"],
            columns: [
              { command: ["destroy"], title: "&nbsp;", width: "90px" },
               { field: "id", title: "编号", width: "100px" },
                { field: "title", title: "文件标题", width: "160px" },
                { field: "keywords", title: "关键字", width: "140px" },
                 { field: "filename", title: "文件名", width: "130px" },
                { field: "filetype", title: "文件类型", width: "130px" },
                { field: "no_order", title: "排序", width: "120px" },
                { field: "downloadurl", title: "下载地址", width: "120px" },
                { field: "filesize", title: "大小", width: "120px" },
                { field: "hits", title: "单击数", width: "130px" },
                {
                    field: "updatetime", title: "修改时间", width: "130px", format: "{0:yyyy/MM/dd}"
                },
                {
                    field: "addtime", title: "添加时间", width: "130px", format: "{0:yyyy/MM/dd}"
                },
                { field: "top_ok", title: "头部显示", width: "130px" },
                { field: "downloadacce", title: "下载权限", width: "130px" },
                { command: ["destroy"], title: "&nbsp;", width: "90px" }
            ],
            editable: "popup",
            saveChanges: function (e) {
                var t = $.Zebra_Dialog("Success！数据已成功保存。", {
                    'type': 'information ',
                    'title': '提示',
                    'buttons': [
                    {
                        caption: 'Ok', callback: function () {
                            e.preventDefault();
                        }
                    },
                    ]
                });
            }
        });
    });
</script>