<!--广告-->
@Html.Partial("Ad")
@Html.Partial("Goods")
<div id="after_layer_slider_1" class="main_color container_wrap fullsize about">
<div class="container">
<!--关于公司-->
<div class="container">
<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
<h2>关于我们</h2>
<img src="images/6.jpg" class="img-responsive" />
<p>
树道释义：“ 致道者以言，入道者以忠，积道者以信，树道者以人”  ——贾谊 《新书·修政语上》
树道国际咨询专注于企业顶层设计，打造首家企业医生养成系统平台。
</p>
</div>
<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<h3>打造最值得信赖的企业成长顾问公司</h3>
<p>
<b>树道企业管理咨询有限公司</b> 简称（树道国际咨询）盘根于上海，立足当代智力服务业发展趋势，颠覆传统思维，自主创立了独具特色的咨询式培训体系，利用 “管理咨询+培训教育”的专业能力，两两互哺、交叉互动，共同组成和谐共生的有机整体，为客户提供资本、咨询、人才的综合服务。
</p>
<p>
树道国际咨询是国内首家专注于企业顶层设计，打造企业医生养成系统的平台。总部位于上海，下辖上海、南京、宁波、哈尔滨、贵阳等多家分支机构，立志成为最受尊敬、最有实力的国际化培训、咨询公司；打造能够吸引、培育和激励杰出人才的优秀组织架构，是您值得信赖的成长顾问。
</p>
<p>
<b>王靖飞</b>导师不对称动机演化博弈系统创始人，连锁商业模式实战导师，企业家成长教练，北京大学EMBA商业模式特聘导师，深圳清华研究院商业模式特聘导师，主讲：《商业登顶之道》《企业顶层设计的方法与路径》《连锁盈天下》《企业医生养成的方法与路径》——咨询师班《企业医生养成的方法与路径》——导师班
</p>
</div>
</div>
</div>
</div>
<!--新闻动态-->
@Html.Partial("News")
<!--课程信息-->
@Html.Partial("ClassInfo")
<!-- end main -->
<script src="~/Scripts/jquery-migrate.min.js"></script>
<script src="~/Scripts/avia-compat.js"></script>
<script src="~/Scripts/layerslider.kreaturamedia.jquery.js"></script>
<script src="~/Scripts/layerslider.transitions.js"></script>
