<div id='partner' class='avia-section main_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-7  el_after_av_one_third  el_before_av_section  container_wrap fullsize'>
<div class='container'>
<section class="av_textblock_section" >
<div class='avia_textblock ' itemprop="text">
<h1 style="text-align: center;">最新动态</h1>
</div></section>
<div class='hr hr-short hr-center  avia-builder-el-9  el_after_av_textblock  el_before_av_blog '><span class='hr-inner'><span class='hr-inner-style'></span></span></div>
<div data-autoplay='' data-interval='5' data-animation='fade' data-show_slide_delay='90' class='avia-content-slider avia-content-grid-active avia-content-slider1 avia-content-slider-odd  avia-builder-el-10  el_after_av_hr  el_before_av_button ' itemscope="itemscope" itemtype="http://schema.org/Blog">
<div class='avia-content-slider-inner'>
<div class='slide-entry-wrap'>
<article class='slide-entry flex_column  post-entry post-entry-8775 slide-entry-overview slide-loop-1 slide-parity-odd  av_one_third first real-thumbnail' itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
<a href='#' data-rel='slide-1' class='slide-image' title=''>
<img width="495" height="269" src="~/images/11.jpg" class="attachment-portfolio wp-post-image" alt="" />
</a><div class='slide-content'><header class="entry-content-header"><h3 class='slide-entry-title entry-title' itemprop="headline"><a href='#' title=''>2015年6月5-6日培训满结束</a></h3></header></div><footer class="entry-footer"></footer>
</article>
<article class='slide-entry flex_column  post-entry post-entry-8732 slide-entry-overview slide-loop-2 slide-parity-even  av_one_third  real-thumbnail' itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
<a href='#' data-rel='slide-1' class='slide-image' title=''><img width="495" height="270" src="~/images/22.jpg" class="attachment-portfolio wp-post-image" alt="" /></a><div class='slide-content'>
<header class="entry-content-header"><h3 class='slide-entry-title entry-title' itemprop="headline"><a href='#' title=''>2015年6月培训圆满结束</a></h3></header>
</div><footer class="entry-footer"></footer></article>
<article class='slide-entry flex_column  post-entry post-entry-8674 slide-entry-overview slide-loop-3 slide-parity-odd  post-entry-last  av_one_third  real-thumbnail' itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
<a href='#' data-rel='slide-1' class='slide-image' title=''><img width="495" height="270" src="~/images/33.jpg" class="attachment-portfolio wp-post-image" alt="" /></a>
<div class='slide-content'><header class="entry-content-header"><h3 class='slide-entry-title entry-title' itemprop="headline"><a href='#' title=''>培训公开课</a></h3></header></div><footer class="entry-footer"></footer>
</article></div></div></div></div>
<div class='avia-button-wrap avia-button-center  avia-builder-el-16  el_after_av_table  avia-builder-el-last '>
<a href='/News' class='avia-button avia-icon_select-yes avia-color-silver avia-size-medium avia-position-center '><span class='avia_button_icon' aria-hidden='true' data-av_icon='...' data-av_iconfont='entypo-fontello'></span></a>
</div>
</div>
