@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>重庆小租乐</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="~/Content/about/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/about/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/about/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/about/assets/css/ie9.css" /><![endif]-->
</head>
<body>

    <!-- Header -->
    <header id="header">

        <!-- Logo -->
        <h1 id="logo">重庆小租乐</h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/Home">首页</a></li>
                <li><a href="#about">关于我们</a></li>
                <li><a href="#team">核心团队</a></li>
                <li><a href="#job">招聘动态</a></li>
                <li><a href="#contact">在线留言</a></li>
            </ul>
        </nav>

    </header>

    <!-- Intro -->
    <section id="intro" class="main style1 dark fullscreen">
        <div class="content container 75%">
            <header>
                <h2>关于我们</h2>
            </header>
            <p>
                小租乐成立于2015年6月，是一家专业经营城市时尚长租公寓，为城市青年群体提供品质公寓租赁及服务的企业。
                公司至成立以来，立足于重庆，锐意进取，诚信致远，致力于打造新型房产租赁行业一流品牌，力争使小租乐成为一个长久、具规模的行业领跑者。
                至目前，公司员工四十余人，已开发房源450余间，赢得了客户广泛赞誉。在未来，小租乐人希望通过不断的创新与学习进取，能为更多的业主带来方便、创造价值；为更多的城市青年创造租房时代更为美好的人生感受。
            </p>
            <footer>
                <a href="#about" class="button style2 down">More</a>
            </footer>
        </div>
    </section>

    <!-- One -->
    <section id="about" class="main style2 right dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>我们的优势</h2>
            </header>
            <ul>
                <li>无中介费，网上看房 拎包入住</li>
                <li>我们追求 生活品质</li>
                <li>凭证齐全 一房一价</li>
                <li>免费wif光纤网络</li>
                <li>维修保洁提供各类管理服务</li>
            </ul>
        </div>
        <a href="#team" class="button style2 down anchored">Next</a>
    </section>

    <!-- Two -->
    @*<section id="two" class="main style2 left dark fullscreen">
            <div class="content box style2">
                <header>
                    <h2>Who I Am</h2>
                </header>
                <p>
                    Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
                    Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
                    id varius justo euismod in. Curabitur egestas consectetur magna.
                </p>
            </div>
            <a href="#work" class="button style2 down anchored">Next</a>
        </section>*@

    <!-- Work -->
    <section id="team" class="main style3 primary">
        <div class="content container">
            <header>
                <h2>我们的的团队</h2>
                <hr />
            </header>
            <!-- Lightbox Gallery  -->
            <div class="container 75% gallery">
                <div class="row 0% images">
                    <div class="6u 12u(mobile)"><a href="~/Images/6.jpg" class="image fit from-left"><img src="~/Images/6.jpg" style="width:450px;height:200px" title="The Anonymous Red" alt="" /></a></div>
                    <div class="6u 12u(mobile)"><a href="~/Images/7.jpg" class="image fit from-right"><img src="~/Images/7.jpg" style="width:400px;height:200px" title="Airchitecture II" alt="" /></a></div>
                </div>
                <div class="row 0% images">
                    <div class="6u 12u(mobile)"><a href="~/Images/contact.png" class="image fit from-left"><img src="~/Images/contact.png" style="width:400px;height:200px" title="Air Lounge" alt="" /></a></div>
                    <div class="6u 12u(mobile)"><a href="~/Images/5.jpg" class="image fit from-right"><img src="~/Images/5.jpg" style="width:400px;height:200px" title="Carry on" alt="" /></a></div>
                </div>
            </div>

        </div>
    </section>
    <section id="job" class="main style3 primary">
        <div class="content container">
            <header>
                <h2>招聘动态</h2>
                <hr />
            </header>
            <table>
                <thead>
                    <tr><td>职业名称</td><td>薪资</td><td>招聘人数</td><td>工作地点</td><td>更新时间</td></tr>
                </thead>
                <tbody>
                    <tr><td>3K房产销售+高提成奖励	</td><td>3000_5000</td><td>	10</td><td>观音桥</td><td>2016-04-22</td></tr>
                    <tr><td>3K房产销售+高提成奖励	</td><td>3000_5000</td><td>	10</td><td>观音桥</td><td>2016-04-22</td></tr>
                    <tr><td>3K房产销售+高提成奖励	</td><td>3000_5000</td><td>	10</td><td>观音桥</td><td>2016-04-22</td></tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="main style3 secondary">
        <div class="content container">
            <header>
                <h2>在线留言</h2>
                <p>如果您有好的意见建议请给我们在线留言</p>
            </header>
            <div class="box container 75%">

                <!-- Contact Form -->
                <form method="post" action="#">
                    <div class="row 50%">
                        <div class="6u 12u(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                        <div class="6u 12u(mobile)"><input type="email" name="email" placeholder="Email" /></div>
                    </div>
                    <div class="row 50%">
                        <div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" value="提交" /></li>
                            </ul>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">

        <!-- Icons -->
        <ul class="actions">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>

        <!-- Menu -->
        <ul class="menu">
            <li>&copy; 重庆小租乐版权所有</li>
            @* <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>*@
        </ul>

    </footer>

    <!-- Scripts -->
    <script src="~/Content/about/assets/js/jquery.min.js"></script>
    <script src="~/Content/about/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/Content/about/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/about/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/about/assets/js/skel.min.js"></script>
    <script src="~/Content/about/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/Content/about/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/about/assets/js/main.js"></script>

</body>
</html>