<div class="container-min">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">招聘动态</li>
    </ol>
</div>
<div class="container clearfix">
    <div class="headerNews">
        <h3>招聘动态</h3>
    </div>
    <div class="news pull-left">
        <table class="table">
            <thead><tr><td>职业名称</td><td>薪资</td><td>招聘人数</td><td>工作地点</td><td>更新时间</td></tr></thead>
            <tbody>
                <tr><td>3K房产销售+高提成奖励</td><td>3000_5000</td><td>10</td><td>观音桥</td><td>2016-04-22</td></tr>
                <tr><td>3K房产销售+高提成奖励</td><td>3000_5000</td><td>10</td><td>观音桥</td><td>2016-04-22</td></tr>
                <tr><td>3K房产销售+高提成奖励</td><td>3000_5000</td><td>10</td><td>观音桥</td><td>2016-04-22</td></tr>
                <tr><td>3K房产销售+高提成奖励</td><td>3000_5000</td><td>10</td><td>观音桥</td><td>2016-04-22</td></tr>
            </tbody>
        </table>
    </div>
</div>
